@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #headpic{
		height:200px;
		width:100%;
	}
	#latest{
		height:378px;
	}

    *{overflow-x: hidden;}
	.teamimg{
		width:200px;
		height:200px;
	}

	.teamdiv{
	width:100%;
	height:350px;
	text-align: center;
	/*border:1px red solid;*/
	margin-bottom:7px;
	}
.teamdes{
	text-align: center;
	color:white;
	font-size:12px;
	}
	#team{
		height:925px;
	}
		#aboutus{
		height:400px;
	}
	.sociali{
		height: 35px;
		width: 35px;
	}

	.footer{
		margin-top:0px;
		height:135px;
		overflow:hidden;
	}
	#address{
		background-color:#313a3b;
		text-align: center;
		color:whitesmoke;
		height:135px;
	}
	
}
