
*{
	box-sizing: border-box;
 }
 body{
 	overflow-x:hidden;
 }
 
 #headpic{
	width:100%;
	height:250px; 
  }
 /*adjusting screen of smaller device*/
@media screen and (max-width:600px) {
	#headpic{
		height:150px;
		width:100%;
	}
}

#service1{
	background-color:#313a3b;
	color:white;
	padding: 50px;
	height:500px;
	overflow:hidden;
	margin: 0px 0px 1px 0px;
}
#myslide{
	background-color:#313a3b;
	height:400px;
	overflow: hidden;
	margin:0px 1px 1px 0px;
}
#latest{
	background-color:#313a3b;
	color:white;
	padding: 50px;
	height:474px;
	overflow: hidden;
	margin:0px 0px 1px 0px;
}

#aboutus{
	background-color:#313a3b;
	color:white;
	padding: 50px;
	height:550px;
	overflow: hidden;
	margin:0px 0px 1px 0px;
}


#team{
	background-color:#313a3b;
	color:white;
	padding: 50px;
	height:600px;
	margin: 1px 0px 0px 0px;
}
.teamdiv{
	height:400px;
	text-align: center;
	border:1px red solid;
	padding:10px;
	}
/*team images*/
.teamimg{
	width: 200px;
	height: 200px;
	border-radius:50%;
}
/*team members name and descrition*/
.teamdes{
	text-align: center;
	font-size:15px;
	padding:20px;
}
@media screen and (max-width:600px){
	*{overflow-x: hidden;}
	.teamimg{
		width:150px;
		height:150px;
	}

	.teamdiv{
	width:100%;
	height:250px;
	text-align: center;
	border:1px red solid;
	margin-bottom:7px;
	}
.teamdes{
	text-align: center;
	color:white;
	font-size:12px;
	}
	#team{
		height:950px;
	}
		#aboutus{
		height:1450px;
	}
}
.footer{
	background-color:#4CAF50;
	color:white;
	height:150px;
	margin-top:1px;
	text-align:center;
	padding:10px;
}
#thanks{
	color:black;
	font-size:15px;
	font-weight: bold;
	text-align:center;
}
#copyright{
	color:black;
	font-size:10px;
	text-align:right;
}
@media screen and (max-width:600px){
	.footer{
		margin-top:1px;
		height:150px;
		overflow:hidden;
	}
}